<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Shoe Market Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<script>
    function onClick(e) {
      e.preventDefault();
      grecaptcha.enterprise.ready(async () => {
        const token = await grecaptcha.enterprise.execute('6LdrsDApAAAAAHOzuQNYGnxMWGXXs_Nu5eu6_4QB', {action: 'LOGIN'});
      });
    }
  </script>
<body>
    <div class="home-container">
        <h2>Welcome to the Shoe Market!</h2>
        <div class="link">
            <a href="market">Go to Market</a>
        </div>
        <div class="link">
            <a href="/search">Search For Stock</a>
        </div>  
    </div>
</body>
</html>
