<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Shoe Market</title>
</head>
<body>
  <h1>Shoe Market Search</h1>

  <form action="/search" method="POST">
    <div id="div-form">
      <div class="row">
        <label for="zipcode"><strong>Enter Your Zipcode: </strong></label>
        <input type="text" name="zipcode" id="zipcode">
      </div>
    </div>

    <input type="reset" value="Reset">
    <input type="submit" value="Search">
  </form>

  <hr>
  <a href="/">HOME</a>
</body>
</html>
