<!DOCTYPE html>
<html>
<head>
    <title>Shoe Market Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2>Welcome to the Shoe Market!</h2>
    <a href="/market">Go to Market</a>
</body>
</html>
